<mat-card>
  <mat-card-header>
    <mat-card-title>Employments</mat-card-title>
    <mat-card-subtitle *ngIf="this.message">{{ this.message }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let employment of (employments | filterDeleted); let i = index" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Employment {{ i + 1 }}</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-grid-list cols="12" [gutterSize]="16">
          <mat-grid-tile [colspan]="12">
            <mat-form-field>
              <mat-select id="profile-employment-type-{{ i }}" placeholder="Employment Type"
                          [(ngModel)]="employment.employmentType" required="required" [disabled]="requesting">
                <mat-option *ngFor="let employmentType of getEmploymentTypes()" [value]="employmentType">{{
                  employmentType
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="12">
            <mat-form-field>
              <input matInput id="profile-employment-company-{{ i }}" type="text" placeholder="Company Name"
                     [(ngModel)]="employment.companyName" required="required" [disabled]="requesting"/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="6">
            <mat-form-field>
              <input matInput id="profile-employment-street1-{{ i }}" type="text" placeholder="Street 1"
                     [(ngModel)]="employment.street1" required="required" [disabled]="requesting"/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="6">
            <mat-form-field>
              <input matInput id="profile-employment-street2-{{ i }}" type="text" placeholder="Street 2"
                     [(ngModel)]="employment.street2" required="required" [disabled]="requesting"/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="6">
            <mat-form-field>
              <input matInput id="profile-employment-city-{{ i }}" type="text" placeholder="City"
                     [(ngModel)]="employment.city" required="required" [disabled]="requesting"/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="6">
            <mat-form-field>
              <mat-select id="profile-employment-state-{{ i }}" placeholder="State" [(ngModel)]="employment.state"
                          required="required" [disabled]="requesting">
                <mat-option *ngFor="let state of getStates()" [value]="state.abbreviation">{{ state.name
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="6">
            <mat-form-field>
              <input matInput id="profile-employment-zip-{{ i }}" type="string" placeholder="Zip"
                     [(ngModel)]="employment.zip" required="required" [disabled]="requesting"/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="6">
            <mat-form-field>
              <mat-select id="profile-employment-country" placeholder="Country" [(ngModel)]="employment.country"
                          required="required" [disabled]="requesting">
                <mat-option value="US">United States of America</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="12">
            <mat-form-field>
              <input matInput id="profile-employment-designation-{{ i }}" type="text" placeholder="Designation"
                     [(ngModel)]="employment.designation" required="required" [disabled]="requesting"/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="6">
            <mat-form-field>
              <input matInput id="profile-employment-start-date-{{ i }}" type="text" placeholder="Employment Start Date"
                     [matDatepicker]="startDatePicker" [(ngModel)]="employment.startDate" required="required"
                     [disabled]="requesting"/>
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="6">
            <mat-form-field>
              <input matInput id="profile-employment-end-date-{{ i }}" type="text" placeholder="Employment End Date"
                     [matDatepicker]="endDatePicker" [(ngModel)]="employment.endDate"
                     [disabled]="requesting"/>
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="6">
            <mat-checkbox [(ngModel)]="employment.isCurrent">Current Employment</mat-checkbox>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="6">
            <mat-form-field>
              <input matInput id="profile-employment-salary-{{ i }}" type="number" placeholder="Gross Salary (USD)"
                     [(ngModel)]="employment.grossSalary" required="required" [disabled]="requesting"/>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>

        <mat-action-row>
          <button mat-button color="warn" (click)="onRemoveClick($event, employment)">Remove</button>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-card-actions>
      <div class="card-submit-button">
        <button mat-raised-button (click)="onAddNewClick()" type="button" [disabled]="requesting">Add new Employment
        </button>
        <button mat-raised-button color="primary" type="button" (click)="save()" [disabled]="requesting">Save</button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
