.container {
  display: flex;
  max-width: 100%;
}
.col {
  width: 50%;
  padding: 0 8px;
  height: 100vh;
  overflow: auto;
}

iframe {
  width: 100%;
  border: none;
  height: 75vh;
}

mat-card {
  margin-bottom: 16px;
}
