<div class="container">
  <div class="col">
    <mat-card>
      <mat-card-title>
        Basic Information
      </mat-card-title>
      <mat-card-content>
        <h4>Name</h4>
        <p>{{ [customer.basicInfo.salutation, customer.basicInfo.firstName, customer.basicInfo.middleName,
          customer.basicInfo.lastName, customer.basicInfo.suffix].join( ' ')}}</p>
        <h4>Date of Birth</h4>
        <p>{{ customer.basicInfo.dateOfBirth | date:'mediumDate' }}</p>

        <h4>Gender</h4>
        <p>{{ customer.basicInfo.gender }}</p>

        <h4>Passport Number</h4>
        <p>{{ customer.basicInfo.passport }}</p>

        <h4>SSN / ITIN</h4>
        <p>{{ customer.basicInfo.ssn }}</p>

        <h4>Customer Type</h4>
        <p>{{ customer.basicInfo.type }}</p>

      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Contact Information
      </mat-card-title>
      <mat-card-content>
        <h4>Home Phone Number</h4>
        <p>{{ customer.contact.homeNumber }}</p>

        <h4>Mobile Phone Number</h4>
        <p>{{ customer.contact.mobileNumber }}</p>

        <h4>Work Phone Number</h4>
        <p>{{ customer.contact.workNumber }}</p>

        <h4>Email Address</h4>
        <p>{{ customer.contact.emailAddress }}</p>

        <h4>Primary Contact</h4>
        <p>{{ customer.contact.primaryContact }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Addresses
      </mat-card-title>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let address of customer.addresses; let i = index" [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>Address {{ i + 1 }}</mat-panel-title>
            </mat-expansion-panel-header>

            <h4>Street 1</h4>
            <p>{{ address.street1 }}</p>

            <h4>Street 2</h4>
            <p>{{ address.street2 }}</p>

            <h4>City</h4>
            <p>{{ address.city }}</p>

            <h4>State</h4>
            <p>{{ getState(address.state) }}</p>

            <h4>Country</h4>
            <p>{{ address.country }}</p>

            <h4>Zip</h4>
            <p>{{ address.zip }}</p>

          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Bank Accounts
      </mat-card-title>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let bankAccount of customer.bankAccounts; let i = index" [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>Bank Account {{ i + 1 }}</mat-panel-title>
            </mat-expansion-panel-header>

            <h4>Account Type</h4>
            <p>{{ bankAccount.accountType }}</p>

            <h4>Bank Name</h4>
            <p>{{ bankAccount.bankName }}</p>

            <h4>Account Number</h4>
            <p>{{ bankAccount.accountNo }}</p>

            <h4>Routing Number</h4>
            <p>{{ bankAccount.routingNo }}</p>

          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Employments
      </mat-card-title>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let employment of customer.employments; let i = index" [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>Employment {{ i + 1 }}</mat-panel-title>
            </mat-expansion-panel-header>

            <h4>Company Name</h4>
            <p>{{ employment.companyName }}</p>

            <h4>Designation</h4>
            <p>{{ employment.designation }}</p>

            <h4>Street 1</h4>
            <p>{{ employment.street1 }}</p>

            <h4>Street 2</h4>
            <p>{{ employment.street2 }}</p>

            <h4>City</h4>
            <p>{{ employment.city }}</p>

            <h4>State</h4>
            <p>{{ getState(employment.state) }}</p>

            <h4>Country</h4>
            <p>{{ employment.country }}</p>

            <h4>Zip</h4>
            <p>{{ employment.zip }}</p>

            <h4>Start Date</h4>
            <p>{{ employment.startDate | date:'mediumDate'}}</p>

            <div *ngIf="!employment.isCurrent">
              <h4>End Date</h4>
              <p>{{ employment.endDate | date:'mediumDate'}}</p>
            </div>

            <h4>Gross Salary</h4>
            <p>$ {{employment.grossSalary}}</p>

          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Documents</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let document of customer.documents; let i = index" [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-description>{{ document.documentDesc }}</mat-panel-description>
            </mat-expansion-panel-header>

            <iframe [src]="getDocumentUrl(document)"></iframe>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Action</mat-card-title>
        <mat-card-subtitle *ngIf="this.message">{{ this.message }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form (submit)="onSubmit()">
          <mat-form-field>
            <mat-select name="status" [(ngModel)]="action.status" placeholder="Status" [disabled]="requesting">
              <mat-option value="approve">Approve</mat-option>
              <mat-option value="reject">Reject</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <textarea name="comment" [(ngModel)]="action.comment" matInput placeholder="Comment"
                      [disabled]="requesting"></textarea>
          </mat-form-field>
          <button type="submit" mat-raised-button [disabled]="requesting">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
