<div [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <h1>{{ getPersona() }}</h1>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="sideNavOpen = !sideNavOpen">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</div>
<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav mode="side" [(opened)]="sideNavOpen">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['./']" routerLinkActive="active">
        <span matLine>Information</span>
      </a>
      <a mat-list-item [routerLink]="['documents']" routerLinkActive="active">
        <span matLine>Documents</span>
      </a>
      <a mat-list-item [routerLink]="['transactions']" routerLinkActive="active">
        <span matLine>Transactions</span>
      </a>
      <a mat-list-item [routerLink]="['../../customers']" routerLinkActive="active">
        <span matLine>Back to all Customers</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
